# **Pandas Exercise :**

**import necessary modules**

In [0]:
import numpy as np
import pandas as pd

**Load url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data" to a dataframe named wine_df**
This is a wine dataset

In [0]:
wine_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

**print first five rows**

In [8]:
wine_df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

**assign wine_df to a different variable wine_df_copy and then delete all odd rows of wine_df_copy**

In [0]:
wine_df_copy = wine_df
# wine_df_copy.drop()

**Assign the columns as below:**
The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):
1) Alcohol
2) Malic acid
3) Ash
4) Alcalinity of ash
5) Magnesium
6) Total phenols
7) Flavanoids
8) Nonflavanoid phenols
9) Proanthocyanins
10)Color intensity
11)Hue
12)OD280/OD315 of diluted wines
13)Proline

In [18]:
wine_df.columns = ['Alcohol','Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

ValueError: ignored

**Set the values of the first 3 rows from alcohol as NaN**
Hint- Use iloc to select 3 rows of wine_df

**Create an array of 10 random numbers uptill 10 and assign it to a variable named random**

In [23]:
import numpy as np
random = np.random.randint(10, size=10)
print(random)

[3 2 0 7 8 8 7 5 7 4]

**How many missing values do we have?**

Hint: you can use isnull() and sum()

**Delete the rows that contain missing values**